body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  height: 100vh;
}

#mainCard {
  border-radius: 20px;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: column;
}

#imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 450px;
  border: 1px solid gainsboro;
  background-color: white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
